body{
  color: rgb(255, 255, 255);
  background-color:black;
}

.fondoClaro{
  color: black;
  background-color: rgb(199, 247, 197);
}

.fondoNegro {
  color: rgb(98, 243, 62);
  background-color: black;
}