body{
  color: rgb(255, 255, 255);
  background-color:black;
  font-family: 'Zen Dots', cursive;
}

.fondoClaro{
  color: black;
  background-color: rgb(199, 247, 197);
}

.fondoNegro {
  color: white ;
  background-color: black;
}

.fondoBlanco{
  color: black;
  background-color: whitesmoke;
}